body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header h1 {
    font-size: 2.5em;
    color: #790039;
    margin-top: 30px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#timer {
    font-size: 3em;
    font-weight: bold;
    color: #c6126f; 
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    margin-top: 20px;
}

#start-timer {
    background-color: #21ce0e; 
    color: white;
    border: none;
}

#reset-timer {
    background-color: #d00e22; 
    color: white;
    border: none;
}

button:hover {
    opacity: 0.9;
}


.back-home-btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    color: #000; 
    background-color: #fff; 
    text-align: center;
    text-decoration: none;
    border-radius: 5px; 
    border: 2px solid #000; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.back-home-btn:hover {
    background-color: #f1f1f1; 
    color: #000; 
    text-decoration: none; 
}

